<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body class="bg-light">
    <div class="container">
        <div class="header pt-4 pb-4 pl-4 pr-4">
            <div class="row">
                <div class="col-md-4">
                    CCFD
                </div>
                <div class="col-md-8 text-right">
                    A Simple Application for Credit Card Fraud Detection
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    Outlier Fraction: {{outlier_fraction}}
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    {{fraudcases}}
                </div>
                <div class="col-md-12">
                    {{validcases}}
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    <label for="">Amount details of the fraudulent transaction</label>
                </div>
                <div class="col-md-12">
                    Count: {{fraudAmount.count()}}
                </div>
                <div class="col-md-12">
                    Mean: {{fraudAmount.mean()}}
                </div>
                <div class="col-md-12">
                    Std: {{fraudAmount.std()}}
                </div>
                <div class="col-md-12">
                    Max: {{fraudAmount.max()}}
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    <label for="">Amount details of valid transaction</label>
                </div>
                <div class="col-md-12">
                    Count: {{validAmount.count()}}
                </div>
                <div class="col-md-12">
                    Mean: {{validAmount.mean()}}
                </div>
                <div class="col-md-12">
                    Std: {{validAmount.std()}}
                </div>
                <div class="col-md-12">
                    Max: {{validAmount.max()}}
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    {{plot|safe}}
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    <label for="">The model used is Random Forest classifier</label>
                </div>
                <div class="col-md-12">
                    Accuracy: {{acc}}
                </div>
                <div class="col-md-12">
                    Precision: {{prec}}
                </div>
                <div class="col-md-12">
                    Recall: {{rec}}
                </div>
                <div class="col-md-12">
                    F1-Score: {{f1}}
                </div>
                <div class="col-md-12">
                    Matthews correlation coefficient: {{MCC}}
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-12">
                    <label for="">Confusion Matrix</label> 
                </div>
                <div class="col-md-12">
                    {{plot1|safe}}
                </div>
            </div>
        </div>
    </div>
</body>